*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
   display: flex;
   height: 5rem;
   width: 100vw;
   align-items: center;
   position: relative;
   background-color: rgb(12, 236, 113);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  
}
.header {
  width: 40vw;
  height: 5rem;
    display: flex;
    /* border: 3px solid green;  */
    position: absolute;
    right: 7%; 
}
.header ul{
    height: 5rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   column-gap: 3rem;
   
 }
 .header2{
    display: none;
   

 }

 .btn{
    display: none;
    position: absolute;
    right: 3%;
   
    /* border: 2px solid yellow; */
 }
 button{
   outline: none;
   border: none;
   background-color: transparent;
 }
 li{
    list-style: none;
    font-size: 1rem;
    
 }
 .header ul a{
    color: rgb(14, 11, 11);
    font-weight: 700;
    text-decoration: none;
 }
 .header ul a:hover{
    color: rgb(238, 232, 232);
    font-weight: 700;
    
 }

 @media (max-width:992px){

    .header ul{
        display: none;
    }
    
    .btn{
        display: unset;
   
    }
    .header2{
    display: unset;
    position: absolute;
    right: 1%;
    top:100%;
    width: 10rem;
    height: 15rem;
    background-color: rgb(5, 191, 238);
    z-index: 999;
    }
    .header2 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
        
    }
   
 }
